ol.breadcrumb {
  @extend %container;
  background: transparent;
  margin-top: 10px;
  margin-bottom: -45px;

  > li {
    font-family: $headingFont;

    a {
      font-family: $headingFont;
      color: $linkColor;

      &:hover {
        color: $linkColorHover;
        text-decoration: none;
      }
    }

    + li {

      &::before {
        content: '::';
        padding: 0 .2em;
      }
    }
  }
}
