.button {
  position: relative;
  padding: 1em 3em 1em 1.5em;
  text-align: left;
  display: inline-block;
  border: 1px solid $siteButtonBorderColor;
  color: $siteButtonTextColor;
  background: $siteButtonBackgroundColor;
  transition: color .5s, background .75s, border-color 1s;

  &:hover {
    color: $siteButtonTextColorHover;
    border-color: $siteButtonBorderColorHover;
    background: $siteButtonBackgroundColorHover;
  }

  &.navigation {

    &::after {
      font-size: 150%;
      content: '\f105';
      font-family: 'FontAwesome';
      display: block;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      color: $siteButtonArrowColor;
    }

    &:hover {

      &::after {
        color: $siteButtonArrowColorHover;
      }
    }
  }

  &.prosmobar {
    border: 1px solid $promobarButtonBorderColor;
    color: $promobarButtonTextColor;
    background: $promobarButtonBackgroundColor;
    transition: background .5s 0, border-color 1s 5s, color .5s 0;

    &::after {
      font-size: 150%;
      content: '\f105';
      font-family: 'FontAwesome';
      display: block;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      color: $promobarButtonArrowColor;
    }

    &:hover {
      color: $promobarButtonTextColorHover;
      border-color: $promobarButtonBorderColorHover;
      background: $promobarButtonBackgroundColorHover;

      &::after {
        color: $promobarButtonArrowColorHover;
      }
    }

  }
}
