@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.cart-empty-page {
  @extend %container;
}

/* .block-views-blockpresto-product-listing-listing-block {

  .block-title {
    @extend %container;
    text-align: center;
    margin-bottom: 1em;
    display: none;
  }

  .view-content {
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .views-row {
      flex: 1 1 50%;

      &:nth-child(2n-1) {
        padding-right: 1em;
      }

      &:nth-child(2n-2) {
        padding-left: 1em;
      }

      .field--name-title {
        font-size: 130%;
        font-family: $headingFont;
        margin-bottom: .75em;
        color: $heroPrimary;

        &[class*="variation"] {
          font-family: $font-open;
          font-size: 100%;
          margin-bottom: 0;
          color: $textColor;
          float: left;
        }
      }

      .field--name-sku {
        font-size: 80%;
        float: left;
        margin-left: .5em;
        line-height: 1.7;

        &::before {
          content: '[';
        }
        &::after {
          content: ']';
        }
      }

      .field--name-price {
        float: none;
        clear: both;
        margin-top: 4em;

        .field--label {
          display: none;

          &::after {
            content: ':';
          }
        }

        .field--item {
          font-size: 180%;
          margin-bottom: 1em;
        }
      }

      .field--name-variations {

        .field--label {
          display: none;
        }

        legend {
          font-size: 100%;
          margin-bottom: 0;

          span {

            &::after {
              margin-left: .5em;
            }
          }
        }

        .field-suffix {
          display: none;
        }

        .form-type-number {

          label {
            display: block;
            margin-bottom: .5em;
            border-bottom: 1px solid #e5e5e5;
          }
        }

        .form-type-radio {

          label {
            padding-left: 1.2em;
            line-height: 1;
            margin-bottom: .5em;

            .input-group {
              display: inline-block;

              .input-group-addon {
                border: 0;
                background-color: transparent;
                display: inline;
                padding-left: 0;
                margin-right: 1em;

                .glyphicon-refresh {

                  &::before {
                    content: '\f10c';
                    font-family: FontAwesome;
                    color: $heroPrimary;
                    font-size: 1.4em;
                    text-align: center;
                    opacity: .6;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                  }
                }
              }

              input {
                display: none;

                &:checked {

                  + .input-group-addon {

                    .glyphicon-refresh {

                      &::before {
                        content: '\f192';
                        color: $heroTertiary;
                      }

                      &.glyphicon-spin {

                        &::before {
                          content: '\f1ce';
                          color: $black;
                          font-size: 1.2em;
                          animation: spin 2s infinite linear;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} */

.layout-region-checkout-secondary {

  .order-total-line {

    &.order-total-line__subtotal {
      @extend h4;
    }

    &.order-total-line__total {
      @extend h3;
    }
  }
}

.cart-form {
  @extend %container;

  .table {
    margin-bottom: 0;
  }

  .field--name-title {
    @extend h4;
    margin-bottom: 0;
  }

  th,
  td {

    &.views-field-unit-price__number {
      display: none;
    }
  }

  th {
    @extend h4;

    &.views-field-remove-button {
      visibility: hidden;
    }
  }

  .order-total-line-value,
  .views-field-total-price__number {
    font-size: 150%;
    font-family: monospace;
    text-align: right;
  }

  .order-total-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > span {
      flex-basis: 50%;
      flex: 1 1 50%;
    }

    &.order-total-line__subtotal {
      border-top: 1px solid $dividerColor;
      padding-top: .5em;
      padding-bottom: .5em;
    }

    &.order-total-line__total {
      padding-top: .5em;
      padding-bottom: .5em;
      border-top: 1px solid $dividerColor;
      border-bottom: 5px solid $dividerColor;
      background: #efefef;
      margin-bottom: 2em;
    }
  }

  .form-actions {

    button + button {
      margin-left: 1em;
    }
  }

  .field--name-sku {
    font-size: 80%;
    float: none;
    clear: both;
    line-height: 1;
    margin-bottom: .75em;

    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }

  .field--name-price {
    float: none;
    clear: both;

    .field--label {
      display: none;

      &::after {
        content: ':';
      }
    }

    .field--item {
      font-size: 180%;
      margin-bottom: .5em;
    }
  }

  .delete-order-item {
    padding-right: 1.5em;
  }

  .glyphicon-ok {

    &::before {
      content: '\f021';
      font-family: FontAwesome;
      color: $white;
      float: right;
      margin-left: 1em;
    }
  }

  .glyphicon-trash {

    &::before {
      content: '\f014';
      font-family: FontAwesome;
      color: $white;
      float: right;
      margin-left: 1em;
    }
  }
}

.layout-checkout-form {
  @extend %container;

  .panel {
    padding: .5em 1em;
    background: $light-grey;
    margin-bottom: 1em;

    .panel-heading {
      @extend h3;
    }


    legend {
      display: none;
    }
  }

  .button {
    margin-right: 1em;
  }
}
