@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.block-views-blockpresto-product-listing-listing-block {

  .block-title {
    @extend %container;
    text-align: center;
    margin-bottom: 1em;
  }

  .view-content {
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .views-row {
      flex: 1 1 50%;

      &:nth-child(2n-1) {
        padding-right: 1em;
      }

      &:nth-child(2n-2) {
        padding-left: 1em;
      }

      .field--name-title {
        font-size: 130%;
        font-family: $font-neuton;
        margin-bottom: .75em;
        color: $heroPrimary;

        &[class*="variation"] {
          font-family: $font-open;
          font-size: 100%;
          margin-bottom: 0;
          color: $textColor;
          float: left;
        }
      }

      .field--name-sku {
        font-size: 80%;
        float: left;
        margin-left: .5em;
        line-height: 1.7;

        &::before {
          content: '[';
        }
        &::after {
          content: ']';
        }
      }

      .field--name-price {
        float: none;
        clear: both;
        margin-top: 4em;

        .field--label {
          display: none;

          &::after {
            content: ':';
          }
        }

        .field--item {
          font-size: 180%;
          margin-bottom: 1em;
        }
      }

      .field--name-variations {

        .field--label {
          display: none;
        }

        legend {
          font-size: 100%;
          margin-bottom: 0;

          span {

            &::after {
              margin-left: .5em;
            }
          }
        }

        .form-actions {

          button {
            padding-right: 1.5em;

            &::before {
              content: '\f07a';
              font-family: FontAwesome;
              margin-right: .5em;
              display: inline-block;
              font-size: 140%;
              color: $heroQuarternary;
            }

            &:focus,
            &:active {
              background: $white;
              border-color: $heroTertiary;
              color: $textColor;
            }
            &:hover {

              &::before {
                color: $heroTertiary;
              }
            }
          }
        }

        .form-type-number {

          label {
            display: block;
            margin-bottom: .5em;
            border-bottom: 1px solid #e5e5e5;
          }
        }

        .form-type-radio {

          label {
            padding-left: 1.2em;
            line-height: 1;
            margin-bottom: .5em;

            .input-group {
              display: inline-block;

              .input-group-addon {
                border: 0;
                background-color: transparent;
                display: inline;
                padding-left: 0;
                padding-right: 1em;

                .glyphicon-refresh {

                  &::before {
                    content: '\f10c';
                    font-family: FontAwesome;
                    color: $heroPrimary;
                    font-size: 1.4em;
                    text-align: center;
                    opacity: .6;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                  }
                }
              }

              input {
                display: none;

                &:checked {

                  + .input-group-addon {

                    .glyphicon-refresh {

                      &::before {
                        content: '\f192';
                        color: $heroTertiary;
                      }

                      &.glyphicon-spin {

                        &::before {
                          content: '\f1ce';
                          color: $black;
                          font-size: 1.2em;
                          animation: spin 2s infinite linear;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
