.paragraph--type--component-image {

  figcaption {

    p {
      font-size: 120%;
      text-align: right;
      background: $heroPrimary;
      color: $heroQuintenary;
      padding: .5em 1em;
    }
  }
}
