.view-product-pages {
  @extend %container;

  .view-header {

    strong {
      display: none;
    }

    p {
      text-align: right;
    }
  }

  .view-content {

    .product-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

  }
}
