/*
Palette generated via http://paletton.com/#uid=75f0X0kllllhHmHjwm1nakEoZjZ
*/

/*
$heroPrimary: #8E2F5C;
$heroSecondary: #AA7139;
$heroTertiary: #255c69;
$heroQuarternary: #749D34;
*/

/*
$heroPrimary: #7619F1;
$heroSecondary: #FF9405;
$heroTertiary: #1490EF;
$heroQuarternary: #FFE805;
*/

$heroPrimary: #820263;
$heroSecondary: #2E294E;
$heroTertiary: #D90368;
$heroQuarternary: #FFD400;
$heroQuintenary: #EAEAEA;


$white: #fff;
$black: #444;

$textColor: $black;

$linkColor: $heroTertiary;
$linkColorHover: $heroSecondary;
$linkColorInverted: $white;
$linkColorHoverInverted: $heroSecondary;

$dividerColor: #aaa;

$dividerLinkColor: $linkColor;
$dividerLinkColorHover: $linkColorHover;

$mainMenuBackground: $heroQuintenary;
$mainMenuLinkColor: $heroSecondary;
$mainMenuLinkColorHover: $heroTertiary;
$mainMenuLinkBorderColor: transparent;
$mainMenuLinkBorderColorActive: $heroPrimary;
$mainMenuLinkBorderColorHover: $heroQuarternary;
$mainMenuBorderColor: $heroTertiary;

$siteButtonTextColor: $white;
$siteButtonBorderColor: $heroPrimary;
$siteButtonArrowColor: $white;
$siteButtonBackgroundColor: $heroPrimary;
$siteButtonTextColorHover: $white;
$siteButtonBorderColorHover: $heroPrimary;
$siteButtonArrowColorHover: $heroPrimary;
$siteButtonBackgroundColorHover: $white;

$promobarBackgroundColor: $heroTertiary;
$promobarBackgroundColorHover: lighten($heroTertiary, .2);
$promobarTextColor: $white;
$promobarLinkColor: $linkColorInverted;
$promobarLinkColorHover: $linkColorHoverInverted;

$promobarButtonTextColor: $white;
$promobarButtonBorderColor: $white;
$promobarButtonArrowColor: $white;
$promobarButtonBackgroundColor: transparent;
$promobarButtonTextColorHover: $white;
$promobarButtonBorderColorHover: $heroSecondary;
$promobarButtonArrowColorHover: $white;
$promobarButtonBackgroundColorHover: $heroSecondary;
