/*
Palette generated via http://paletton.com/#uid=75f0X0kllllhHmHjwm1nakEoZjZ
*/

$heroPrimary: #8E2F5C;
$heroSecondary: #AA7139;
$heroTertiary: #255c69;
$heroQuarternary: #749D34;

$linkColor: $heroTertiary;
$linkColorHover: $heroSecondary;

$dividerColor: #aaa;

$dividerLinkColor: $linkColor;
$dividerLinkColorHover: $linkColorHover;


