$heroPrimary: #820263;
$heroSecondary: #2E294E;
$heroTertiary: #D90368;
$heroQuintenary: #EAEAEA;
$heroQuarternary: #FFD400;

/* RGB */
$color1: rgba(85, 221, 224, 1);
$color2: rgba(51, 101, 138, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(242, 100, 25, 1);

$turquoise-blue: $color1;
$calypso: $color2;
$pickled-bluewood: $color3;
$sea-buckthorn: $color4;
$flamingo: $color5;

$frostee: #edf9ed;
$we-peep: #f7dad6;
$geyser:  #d0d9dd;
$maverick: #dac0cb;

$white: #fff;
$black: #333;
$grey: #aaa;
$light-grey: #f2f2f2;

$success: $frostee;
$danger: $we-peep;
$information: $geyser;
$error: $maverick;

$textColor: $black;
$backgroundColor: $white;

$textShadowColor: $black;

$linkColor: $pickled-bluewood;
$linkColorHover: $calypso;

$linkColorInverted: $white;
$linkColorHoverInverted: $sea-buckthorn;

$productItemBackground: $calypso;
$productItemBackgroundHover: $pickled-bluewood;
$productItemLinkColor: $white;
$productItemLinkColorHover: $turquoise-blue;
$productItemNormalPrice: $grey;
$productItemSKUColor: $grey;

$productItemOnSaleTagColor: $white;
$productItemOnSaleTagBackground: $flamingo;

$dividerColor: $grey;
$dividerLinkColor: $linkColor;
$dividerLinkColorHover: $linkColorHover;

$mainMenuBackground: transparent;
$mainMenuTextColor: $pickled-bluewood;
$mainMenuBorderColor: transparent;
$mainMenuLinkColor: $pickled-bluewood;
$mainMenuLinkBorderColor: transparent;
$mainMenuLinkColorHover: $calypso;
$mainMenuLinkBorderColorHover: $turquoise-blue;
$mainMenuLinkBorderColorActive: $sea-buckthorn;
$mainMenuBackgroundHover: $light-grey;

$footerBackground: $calypso;
$footerTextColor: $white;
$footerBorderColor: transparent;
$footerLinkColor: $linkColorInverted;
$footerLinkBorderColor: transparent;
$footerLinkColorHover: $linkColorHoverInverted;
$footerLinkBorderColorHover: $sea-buckthorn;
$footerLinkBorderColorActive: $sea-buckthorn;

$promobarBackgroundColor: $flamingo;
$promobarBackgroundColorHover: $sea-buckthorn;
$promobarTextColor: $white;

$promobarLinkColor: $linkColorInverted;
$promobarLinkColorHover: $linkColorHoverInverted;


$siteButtonTextColor: $white;
$siteButtonBorderColor: $calypso;
$siteButtonArrowColor: $white;
$siteButtonBackgroundColor: $calypso;

$siteButtonTextColorHover: $white;
$siteButtonArrowColorHover: $white;
$siteButtonBorderColorHover: $pickled-bluewood;
$siteButtonBackgroundColorHover: $pickled-bluewood;

$imageCaptionBackgroundColor: $pickled-bluewood;
$imageCaptionColor: $white;
