.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .presto-container,
    .container {
      width: 100%;
      padding-left: calc((100% - #{$container})/2 + 15px);
      padding-right: calc((100% - #{$container})/2 + 15px);
    }
  }
}
