.padding-vertical-large {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-vertical-medium {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.padding-vertical-small {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.padding-vertical-zero {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-vertical-large {
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-vertical-medium {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.margin-vertical-small {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.margin-vertical-zero {
  margin-top: 0;
  margin-bottom: 0;
}
